<!--
  ~ Module: r2-lcp-kotlin
  ~ Developers: Aferdita Muriqi, Clément Baumann
  ~
  ~ Copyright (c) 2018. Readium Foundation. All rights reserved.
  ~ Use of this source code is governed by a BSD-style license which is detailed in the
  ~ LICENSE file present in the project repository where this source code is maintained.
  -->

<manifest package="org.readium.r2.lcp"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Used to get the device's name for LSD "register" -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

</manifest>
