<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.readium.r2.testapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".R2App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"

        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity android:name=".CatalogActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".R2DispatcherActivity"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content"/>
                <data android:scheme="file" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="app" />
                <data android:host="*" />
                <data android:pathPattern=".*\.epub" />
                <data android:pathPattern=".*\.lcpl" />
                <data android:pathPattern=".*\.cbz" />
                <data android:mimeType="application/epub+zip" />
                <data android:mimeType="application/x-cbz" />

            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/epub+zip" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="*" />
                <data android:pathPattern=".*\.epub" />
                <data android:pathPattern=".*\.lcpl" />
                <data android:pathPattern=".*\.cbz" />
            </intent-filter>

        </activity>

        <activity
            android:name=".opds.OPDSCatalogActivity"
            android:label="@string/title_activity_opdscatalog" />
        <activity
            android:name=".R2AboutActivity"
            android:label="@string/title_activity_r2_about" />
        <activity
            android:name=".opds.OPDSListActivity"
            android:label="@string/title_activity_opdslist" />
        <activity
            android:name=".opds.OPDSDetailActivity"
            android:label="@string/title_activity_opddetail" />
    </application>

</manifest>