name: Checks

on:
  push:
    branches: [ main, develop ]
  pull_request:

jobs:
  build:
    name: Build and test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Build
        run: ./gradlew clean build -x test
      - name: Test
        run: ./gradlew test --continue

  lint:
    name: Lint
    runs-on: macos-latest
    env:
      scripts: ${{ 'readium/navigator/src/main/assets/_scripts' }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install dependencies
        run: make install
      - name: Lint JavaScript
        run: yarn --cwd "$scripts" run lint
      - name: Check JavaScript formatting
        run: yarn --cwd "$scripts" run checkformat
      # FIXME: This suddenly stopped working even though the toolchain versions seem identical.
      # - name: Check if bundled scripts are up-to-date
      #   run: |
      #       make scripts
      #       git diff --exit-code --name-only src/main/assets/readium/scripts/*.js

