/* Readium CSS 
   Scroll module

   A set of styles to scroll ePublications
   This module overrides pagination

   Repo: https://github.com/readium/readium-css */

:root {
  /* Reset html size so that the user can scroll */
  width: auto !important;
  height: auto !important;

  /* Reset columns, auto + auto = columns can’t be created */
  -webkit-columns: auto auto !important;
  -moz-columns: auto auto !important;
  columns: auto auto !important;

  --RS__currentColNumber: 0;
}

/* TODO: Enforce max-width for body, no matter which media query overrides it in pagination */
body {
  max-width: var(--RS__maxLineLength) !important;
}

/* Scroll mode horizontal */

/* Vertical writing needs body height set */

/* Do we add a top/bottom margin for body in vertical scroll or not? */