/* Readium CSS 
   User Overrides

   A stylesheet to manage user settings

   Repo: https://github.com/readium/readium-css */

/* Variables are added to html (setProperty -> style) */

/* Number of columns = 1 | 2 */

:root[style*="--USER__colNumber"] {
  -webkit-column-count: var(--USER__colNumber);
  -moz-column-count: var(--USER__colNumber);
  column-count: var(--USER__colNumber);
}

:root[style*="--USER__colNumber: 1"] body,
:root[style*="--USER__colNumber:1"] body {
  max-width: var(--RS__maxLineLength);

  --RS__currentColNumber: 1;
}

:root[style*="--USER__colNumber: 2"],
:root[style*="--USER__colNumber:2"] {
  -webkit-column-width: auto;
  -moz-column-width: auto;
  column-width: auto;

  --RS__currentColNumber: 2;
}

/* Page Margins */

:root[style*="--USER__pageMargins"] body {
  padding: 0 var(--USER__pageMargins) !important;
}

/* Colors */

:root[style*="--USER__backgroundColor"] {
  background-color: var(--USER__backgroundColor) !important;
}

:root[style*="--USER__backgroundColor"] *,
:root[style*="background-color"] * {
  background-color: transparent !important;
}

:root[style*="--USER__textColor"] {
  color: var(--USER__textColor) !important;
}

:root[style*="--USER__textColor"] *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(pre),
:root[style*="color"] *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(pre) {
  color: inherit !important;
}

/* Night mode is another stylesheet */

/* Sepia Mode is another stylesheet */

/* Text Align */

:root[style*="--USER__textAlign"] {
  text-align: var(--USER__textAlign);
}

:root[style*="--USER__textAlign"] body, :root[style*="text-align"] body,
:root[style*="--USER__textAlign"] *:not(blockquote):not(figcaption) p, :root[style*="text-align"] *:not(blockquote):not(figcaption) p, 
:root[style*="--USER__textAlign"] li, :root[style*="text-align"] li {
  text-align: inherit !important;
  -moz-text-align-last: auto !important;
  -epub-text-align-last: auto !important;
  text-align-last: auto !important;
}

/* Hyphens (none | auto) */

:root[style*="--USER__bodyHyphens"] {
  -webkit-hyphens: var(--USER__bodyHyphens) !important;
  -moz-hyphens: var(--USER__bodyHyphens) !important;
  -ms-hyphens: var(--USER__bodyHyphens) !important;
  -epub-hyphens: var(--USER__bodyHyphens) !important;
  hyphens: var(--USER__bodyHyphens) !important;
}

/* Sorry, we can’t use `:matches`, `:-moz-any` or `:-webkit-any` because MS doesn’t support it yet */
:root[style*="--USER__bodyHyphens"] body, :root[style*="hyphens"] body,
:root[style*="--USER__bodyHyphens"] p, :root[style*="hyphens"] p,
:root[style*="--USER__bodyHyphens"] li, :root[style*="hyphens"] li,
:root[style*="--USER__bodyHyphens"] div, :root[style*="hyphens"] div,
:root[style*="--USER__bodyHyphens"] dd, :root[style*="hyphens"] dd {
  -webkit-hyphens: inherit;
  -moz-hyphens: inherit;
  -ms-hyphens: inherit;
  -epub-hyphens: inherit;
  hyphens: inherit;
}

/* Prevent hyphens in inline code */
:root[style*="--USER__bodyHyphens"] code, :root[style*="hyphens"] code,
:root[style*="--USER__bodyHyphens"] var, :root[style*="hyphens"] var {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -epub-hyphens: none;
  hyphens: none;
}

/* Font family (typeface) */

:root[style*="--USER__fontFamily"] {
  font-family: var(--USER__fontFamily) !important;
}

:root[style*="--USER__fontFamily"] body, :root[style*="font-family"] body,
:root[style*="--USER__fontFamily"] p, :root[style*="font-family"] p,
:root[style*="--USER__fontFamily"] li, :root[style*="font-family"] li,
:root[style*="--USER__fontFamily"] div, :root[style*="font-family"] div,
:root[style*="--USER__fontFamily"] dt, :root[style*="font-family"] dt,
:root[style*="--USER__fontFamily"] dd, :root[style*="font-family"] dd {
  font-family: inherit !important;
}

:root[style*="--USER__fontFamily"] i:not(:lang), :root[style*="font-family"] i:not(:lang),
:root[style*="--USER__fontFamily"] em:not(:lang), :root[style*="font-family"] em:not(:lang),
:root[style*="--USER__fontFamily"] cite:not(:lang), :root[style*="font-family"] cite:not(:lang),
:root[style*="--USER__fontFamily"] b:not(:lang), :root[style*="font-family"] b:not(:lang),
:root[style*="--USER__fontFamily"] strong:not(:lang), :root[style*="font-family"] strong:not(:lang),
:root[style*="--USER__fontFamily"] span:not(:lang), :root[style*="font-family"] span:not(:lang) {
  font-family: inherit !important;
}

/* Font size */

:root[style*="--USER__fontSize"] {
  font-size: var(--USER__fontSize) !important;
}

/* Line height */

:root[style*="--USER__lineHeight"] {
  line-height: var(--USER__lineHeight) !important;
}

:root[style*="--USER__lineHeight"] body, :root[style*="line-height"] body,
:root[style*="--USER__lineHeight"] p, :root[style*="line-height"] p,
:root[style*="--USER__lineHeight"] li, :root[style*="line-height"] li,
:root[style*="--USER__lineHeight"] div, :root[style*="line-height"] div {
  line-height: inherit;
}

/* Para spacing (paragraphs’ vertical margins) */

:root[style*="--USER__paraSpacing"] p {
  margin-top: var(--USER__paraSpacing) !important;
  margin-bottom: var(--USER__paraSpacing) !important;
}

/* Para indent (text indent) */

:root[style*="--USER__paraIndent"] p {
  text-indent: var(--USER__paraIndent) !important;
}

/* Word spacing and letter spacing */

:root[style*="--USER__wordSpacing"] h1,
:root[style*="--USER__wordSpacing"] h2,
:root[style*="--USER__wordSpacing"] h3,
:root[style*="--USER__wordSpacing"] h4,
:root[style*="--USER__wordSpacing"] h5,
:root[style*="--USER__wordSpacing"] h6,
:root[style*="--USER__wordSpacing"] p,
:root[style*="--USER__wordSpacing"] li,
:root[style*="--USER__wordSpacing"] div {
  word-spacing: var(--USER__wordSpacing);
}

:root[style*="--USER__letterSpacing"] h1,
:root[style*="--USER__letterSpacing"] h2,
:root[style*="--USER__letterSpacing"] h3,
:root[style*="--USER__letterSpacing"] h4,
:root[style*="--USER__letterSpacing"] h5,
:root[style*="--USER__letterSpacing"] h6,
:root[style*="--USER__letterSpacing"] p,
:root[style*="--USER__letterSpacing"] li,
:root[style*="--USER__letterSpacing"] div {
  letter-spacing: var(--USER__letterSpacing);
  font-variant: none;
}

/* Check if this is necessary or not (inline styles)

p[style] {
  color: unset !important;
  background-color: unset !important;
  font-family: unset !important;
  line-height: unset !important;
  -webkit-hyphens: unset !important;
  -moz-hyphens: unset !important;
  -ms-hyphens: unset !important;
  -epub-hyphens: unset !important;
  hyphens: unset !important;
  text-align: unset !important;
  padding: unset !important;
  margin-top: unset !important;
  margin-bottom: unset !important;
  text-align: unset !important;
}

span[style] {
  color: unset !important;
  background-color: unset !important;
  font-family: unset !important;
}

*/