/* Readium CSS 
   Sepia mode

   A preset theme for sepia mode

   Repo: https://github.com/readium/readium-css */


/* CONFIG */

:root {
  --THEME__backgroundColor: #faf4e8;
  --THEME__textColor: #121212;

  --THEME__linkColor: #0000EE;
  --THEME__visitedColor: #551A8B;
}

/* STYLES */
/* :root is used so that you can quickly add a class or attribute if you prefer e.g. `:root[data-rs-sepia]` */

:root {
  background: var(--THEME__backgroundColor) !important;
  color: var(--THEME__textColor) !important;
}

:root body {
  background-color: transparent;
  color: inherit;
}

:root a:link,
:root a:link * {
  color: var(--THEME__linkColor);
}

:root a:visited,
:root a:visited * {
  color: var(--THEME__visitedColor);
}

/* Disable for proto as there are hardware-, platform- and browser-specific bugs (some or all images won’t render in Blink/Webkit)  
:root svg,
:root img {
  mix-blend-mode: multiply;
}
*/